You have <%= @user.count_posts %> posts!

<% @posts.each do |post|%>
  <h3>
    <%= link_to post.title, post %> <br>
  </h3>
      <small class="author"> Submitted <%= time_ago_in_words(post.created_at) %> </small>
<%end%>
<ul>
  <% for user in @user.friends%>
  <li><%=h user.email%></li>
  <%end%>
</ul>
<% @users.each do |user|%>
  <li><%= link_to user.email%></li>
  <%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post%>
<%end%>
<%# by <%= post.user.email goes after 'submitted'%>
