You have <%= @user.count_posts %> posts, and your friend has <%= @user.friend_count_posts%> posts!

<% @friend_posts.each do |post| %>
  <h3>
    <%= link_to post.title, post %> <br>
  </h3>
      <small class="author"> Submitted <%= time_ago_in_words(post.created_at) %> ago</small>
<%end%>

<% @posts.each do |post|%>
  <h3>
    <%= link_to post.title, post %> <br>
  </h3>
      <small class="author"> Submitted <%= time_ago_in_words(post.created_at) %> ago</small>

<%end%>
<%# by <%= post.user.email goes after 'submitted'%>
